body
{background-color: yellow;
 font-family: "Times New Roman";
 color: blue;}
.obrazek
{display: flex;}
.obrazek img {width: 80%; margin: auto;}
.guziki {display: flex;
	align-items: center;
	justify-content:center;